openapi: 3.0.0
info:
  title: MasterMovies API [REST]
  description: |
    Welcome to the documentation for [MasterMovies API](https://api.mastermovies.uk), compliant with [OpenAPI v3](https://swagger.io/specification/). This document describes how clients should interact with the API, such as the request types and expected responses.

    This API is open to the public, free of charge. We do not take any responsibility and we are not liable for any damage caused through our services.

    For the protection of our users and content, we reserve the right to refuse access to any user, namely through the use of Rate Limiting, CORS (Cross-Origin Resource Sharing) and CSRF (Cross-Site Request Forgery) protection.

    ## MasterMoviesID Authorization
    Certain resources are protected and require valid authorization. This comes in the form of a cryptographically-signed [JSON Web Token](https://jwt.io/) that must originate from a recognized Authority, such as the Authorization Endpoint on this API. The MasterMoviesID token contains all information about a user's session.

    Just like any other session token, it should not be disclosed to third-parties, which would give them immediate and unconditional access to all of your privileges. The nature of JWT means that tokens can not be rejected. The token is stored as secure HTTP-only cookie, making it impossible to be accessed by anything other than the browser.

    Resource authorizations are generally available for 24 hours.

    ## CSRF and state-changing requests
    To protect against CSRF attacks, any state changing request must reflect the `CSRF-Token` cookie value as a `CSRF-Token` header. The token is provided automatically by the API as soon as any request is made. You may  need to "ping" the API to retrieve the tokens before being able to access state-changing endpoints. An non-matching token-pair will be immediately rejected with a `403 Fobidden` HTTP response and a JSON "Bad CSRF token" payload.

    It is safe to copy and use the `CSRF-Token`, but take care not to disclose it to any malicous people. The `CSRF-Secret`, which is cryptographically related to the token, is encrypted and can only be read and decrypted by the server.

    ## Rate-Limiting
    Rate-limiting is carried out on a global basis for the entire API, as well as a per-endpoint basis. Global rate-limiting is restricted to 420 interactions a minute, regardless of the request or response. Each endpoint is free to further restrict usage based on the nature of the action. The most "nested" ratelimiting function can be examined with the `X-Ratelimit-Limit`, `X-Ratelimit-Remaining` and `X-Ratelimit-Reset` headers.
  version: v2
servers:
  - url: 'https://api.mastermovies.uk/v2'
    description: Production
tags:
  - name: Root Endpoint
    description: The entrypoint to MasterMovies API services.
  - name: Authorization Endpoint
    description: Provides cryptographically-signed authorization for restricted resources.
  - name: Glacier Endpoint
    description: Access to film content provided by Glacier (formally known as Films).

components:
  securitySchemes:
    MasterMoviesID:
      type: apiKey
      in: cookie
      name: A cryptographically-signed JSON Web Token, provided by a MaterMovies Authority.
  parameters:
    csrf:
      name: CSRF-Token
      in: header
      description: A CSRF token that was generated by the API and sent along with the first response as a secure cookie. This will occasionally get regenerated, such as on validation failure.
      required: true
      schema:
        type: string
        format: password
    glacierFilm:
      name: film
      in: path
      description: The unique fingerprint of the film
      required: true
      schema:
        type: string
        pattern: /^[0-9a-f]+$/
    glacierExport:
      name: export
      in: path
      description: The unique fingerprint of the export
      required: true
      schema:
        type: string
        pattern: /^[0-9a-f]+$/
    glacierThumbnail:
      name: thumbnail
      in: path
      description: The unique fingerprint of the thumbnail
      required: true
      schema:
        type: string
        pattern: /^[0-9a-f]+$/
  responses:
    standardResponse:
      description: A standard JSON response that reflects the HTTP response code, indicating that no custom content is available.
      content:
        application/json:
          schema:
            type: object
            description: A standard HTTP status code response
            properties:
              code:
                type: integer
                description: The HTTP status code of the response
                example: 404
              status:
                type: string
                description: The text represenation of the HTTP status code
                example: Not Found
              message:
                type: string
                description: An optional additional message sent by the server to provide context
                example: Could not find the requested resource
            required:
              - status
              - code
  schemas:
    JwtPayload:
      title: MasterMoviesID JSON Web Token
      description: The MasterMoviesID JSON Web Token. This is stored as a cookie on the client as a way to communicate session information to stateless services. cryptographically-signed by the API, it contains session information about the user, such as current resource authorizations.
      additionalProperties: false
      properties:
        glacier:
          title: Glacier Endpoint data
          type: object
          additionalProperties: false
          properties:
            authorizations:
              title: Authorized resources
              type: object
              additionalProperties:
                type: number
              example:
                b3d9ccc71e01: 1556843785
                2cc45810fd73: 1556932548
                c07f230c0a9e: 1556982099
    glacierFilm:
      type: object
      description: This is a single film listed in the Glacier database. It represents a finished production, and groups up lists of related resources such as seperate exports and thumbnails
      properties:
        fingerprint:
          type: string
          pattern: /^[0-9a-f]+$/
          example: ce4c81eafcc5
          description: The film's unique identifier
        name:
          type: string
          description: The name of the film
          example: The Brammer Wedding
        release:
          type: string
          format: full-date
          description: The release date
          example: '2019-05-06'
        restricted:
          type: boolean
          description: Whether additional authorization is needed
        description:
          type: string
          description: A short summary about the film
        location:
          type: string
          example: Croatia
        copyright:
          type: string
        views:
          type: number
          format: int32
          description: The amount of unique views the film has acquired
          example: 192
        exports:
          type: array
          description: A list of available exports for the film, which differ in resolution, codec, etc...
          items:
            type: object
            description: A single export for a particular film production, differing in size, codec, compatibility, etc...
            properties:
              fingerprint:
                type: string
                pattern: /^[0-9a-f]+$/
                description: The unique export of the export, which is shortned from its MD5 checksum
                example: f75e24940923
              width:
                type: number
                format: int32
                description: The export's horizontal dimension
                example: 3840
              height:
                type: number
                format: int32
                description: The export's vertical dimension
                example: 2160
              size:
                type: number
                format: int64
                description: The export size in bytes
                example: 2147483648
              mime:
                type: string
                description: The export's MIME format
                example: video/mp4
              video_codec:
                type: string
                description: The video codec used to encode the export
                example: H264
              audio_codec:
                type: string
                description: The audio codec used to encode the export
                example: AAC
              stream_optimized:
                type: boolean
                description: Whether the export is optimized to be streamed over the internet instead of high quality/bitrate encoding
              download_url:
                type: string
                format: url
                description: The URL from which the resource can be downloaded
                example: https://api.mastermovies.uk/glacier/film/efcce2449c95/export/922c20fe2212?download
              stream_url:
                type: string
                format: url
                description: The URL from which the resource can be streamed
                example: https://api.mastermovies.uk/glacier/film/efcce2449c95/export/922c20fe2212
        thumbnails:
          type: array
          description: A list of availiable thumbnails for the video, differing in size, format, etc...
          items:
            type: object
            properties:
              fingerprint:
                type: string
                pattern: /^[0-9a-f]+$/
                example: 0b3674b833f9
                description: The unique fingerprint of the image, which is a shortened from its MD5 checksum
              width:
                type: number
                format: int32
                description: The horizontal resolution of the thumbnail
                example: 1280
              height:
                type: number
                format: int32
                description: The vertical resolution of the thumbnail
                example: 720
              mime:
                type: string
                description: The image's MIME format
                example: image/jpeg
              image_url:
                type: string
                format: url
                description: The URL from which the resource can be accessed
                example: https://api.mastermovies.uk/glacier/film/efcce2449c95/thumbnail/0b3674b833f9

paths:
  /:
    get:
      tags:
        - Root Endpoint
      summary: Endpoint listing
      description: Returns the API status and a list of URLs to all active endpoints
      responses:
        '200':
          description: A successful query for the API status and list of endpoints
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  auth_url:
                    type: string
                    format: url
                  films_url:
                    type: string
                    format: url
  /auth:
    get:
      tags:
        - Authorization Endpoint
      summary: Endpoint listing
      description: Returns the API endpoint status and a list of URLs to available operations
      responses:
        '200':
          description: A succesful query for the endpoint status and operation URLs
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  authorize_url:
                    type: string
                    format: url
                  query_url:
                    type: string
                    format: url
  /auth/authorize:
    post:
      tags:
        - Authorization Endpoint
      summary: Request resource authorization
      description: Authorizes access to protected resources. Due to the sensitive nature of the request body, access is restricted to requests generated by MasterMovies products. Do not access this endpoint through third party requests.
      operationId: authAuthorize
      parameters:
        - $ref: '#/components/parameters/csrf'
      requestBody:
        description: A request to obtain authorization for a particular resource
        required: true
        content:
          application/json:
            schema:
              required:
                - type
                - resource
                - key
              properties:
                type:
                  type: string
                  enum:
                    - film
                resource:
                  type: string
                  pattern: /^[0-9a-f]+$/
                  example: 137a6ed3b69e
                key:
                  type: string
                  format: password
                  example: 4b735588e098
      responses:
        '200':
          description: Successfully authenticated, returns a cryptographically-signed JWT payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JwtPayload'
          headers:
            Set-Cookie:
              description: Sets the signed MasterMoviesID token
              schema:
                type: string
                example: MasterMoviesID=eyJhbG...OGOFt8; Path=/; HttpOnly; Secure; Expires=1556755200
        '400':
          $ref: '#/components/responses/standardResponse'
        '403':
          $ref: '#/components/responses/standardResponse'
  /auth/query:
    get:
      tags:
        - Authorization Endpoint
      summary: Request authorization status
      description: As the MasterMoviesID token is not accessible to any scripts, this endpoint can be used to query the payload of the MasterMoviesID JWT.
      operationId: authQuery
      responses:
        '200':
          description: The JSON payload of the signed MasterMoviesID token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JwtPayload'
                
  /glacier:
    get:
      tags:
        - Glacier Endpoint
      summary: Glacier listing
      description: Returns the API endpoint status and a list of URLs to available operations
      responses:
        '200':
          description: A successful query for the API status and list of endpoints
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  list_url:
                    type: string
                    format: url
                  film_url:
                    type: string
                    format: url
  /glacier/list:
    get:
      tags:
        - Glacier Endpoint
      summary: Glacier film listing
      description: Returns an extended list of films that are available from the Glacier service
      parameters:
      - name: public
        in: query
        description: Only view films that don't require authorization
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: An array of film summaries, containing basic information information
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    fingerprint:
                      type: string
                      pattern: /^[0-9a-f]+$/
                      example: dfffd0fec8ec
                      description: The film's unique identifier
                    name:
                      type: string
                      description: The name of the film
                    release:
                      type: string
                      format: full-date
                      description: The release date
                    restricted:
                      type: boolean
                    film_url:
                      type: string
                      format: url
  /glacier/film/{film}:
    get:
      tags:
        - Glacier Endpoint
      summary: Glacier film query
      description: Returns extended information about the specified film. Film information is not restricted and does not require authoirzation to access.
      parameters:
        - $ref: '#/components/parameters/glacierFilm'
      responses:
        '200':
          description: A film object, containg extended information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/glacierFilm'
  /glacier/film/{film}/export/{export}:
    get:
      tags:
        - Glacier Endpoint
      summary: Glacier film export download/stream
      description: |
        Endpoint for film/download from the glacier service. Public films do not require authorization, restricted films, however, do.

        Authorization comes in the form of a MasterMoviesID JSON Web Token. The token must be valid (not expired and signed by a MasterMovies Authority) and contain an authorization for the requested resource. These tokens can be obtained through the Authorization Endpoint.

        Once properly authorized, the endpoint accepts byte-ranges for seekable video streaming and resumable downloads.
      security:
        - JWT: []
      parameters:
        - $ref: '#/components/parameters/glacierFilm'
        - $ref: '#/components/parameters/glacierExport'
      responses:
        '200':
          description: Indicates a successful authorization, and streams the binary video source
          headers:
            Accept-Ranges:
              schema:
                type: string
                enum:
                  - bytes
          content:
            video/*:
              schema:
                type: string
                format: binary
                example: <binary data>
        '403':
          description: The user is not authorized to view that film
        '404':
          description: The film or export could not be found
  /glacier/film/{film}/thumbnail/{thumbnail}:
    get:
      tags:
        - Glacier Endpoint
      summary: Glacier film thumbnail download
      description: Endpoint for film thumbnail access. Provides a binary image. Authorization is not required.
      parameters:
        - $ref: '#/components/parameters/glacierFilm'
        - $ref: '#/components/parameters/glacierThumbnail'
      responses:
        '200':
          description: The thumbnail was found, and is ready to be streamed
          headers:
            Accept-Ranges:
              schema:
                type: string
                enum:
                  - bytes
          content:
            image/*:
              schema:
                type: string
                format: binary
                example: <binary data>
        '404':
          description: The film or thumbnail could not be found